<h1>アルバム一覧</h1>
<br>
<div class="digg_pagination">
<%= will_paginate @albums, :container => false,:previous_label=>'«前', :next_label=>'次»' %>
<%  @albums.each do |album| %>
  <%= album.title %>
  <%= public_value album.public_flag %>
  <%= link_to '詳細へ', album %>
  <br>
<% end %>


