%h1 アルバム一覧
%br
%div.digg_pagination
  = will_paginate @albums, :container => false,:previous_label=>'«前', :next_label=>'次»'
%table
  %tr
    %th.list_menu タイトル
    %th.list_menu 公開してる?
    %th

  - @albums.each do |album|
    %tr
      %td= album.title
      %td= public_value album.public_flag
      %td= link_to '詳細へ', album

%br

