<div id="photo_books">
<% @photos.each do |photo| %>
   <div style="background-image:url(<%= photo.photo.url(:original)%>);"></div>
<% end %>
</div>
<script type="text/javascript">
  $('#photo_books').turn({page: 1, acceleration: true, shadows: true});
</script>
