%h1 あなたが見たい漫画は
%br
%div.comic_detail
  =@comic.title  
%br
%div.album_photo_list
  %div.comic_detail
    =@comic.title  
  -@photos.each do|photo|
    %div.div_photo
      %p
        = image_tag photo.photo.url(:medium)
      %p
        = photo.message
