%h1 画像一覧

%table
  %tr
    %th.list_menu タイトル
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= photo.title
      %td= link_to '詳細', photo
      %td= link_to '編集する', edit_photo_path(photo)
      %td= link_to '削除する', photo, :confirm => '削除する?', :method => :delete

%br

