.title {
	font-weight: bold;
	font-size: 15pt;
}

.label {
	font-size: 10pt;
	font-weight: bold;
    background-color: #FFFFDB;
}

.album_form {
    font-weight: bold;
    font-size: 12pt;
    background-color: #FFFFDB;
    border: 1px solid #333333;
    width: 700px;
    margin: 3px;
}
.show_album_detail {
    font-weight: bold;
    font-size: 12pt;
    background-color: #FFFFFB;
    border: 1px solid #333333;
    width: 100%;
    margin: 3px;
}

.div.field{
   margin:{
    bottom: 10px;
   }
}
.Coulisse
{
    width: 700px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #222222;
    font-color: #FFFFFF;
}

.Slider
{
    width: 50%;
    margin: 10px 10%;
    position: relative;
}
.album_photo_list {
  width: 100%;
  background-color: #222222;
  visibility: visible;
  position: absolute;
  z-index: 0;
}
.div.photo {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-size: 10pt;
  width: 450px;
  margin: 3px;
  z-index: 4;
  float: left;
  cursor: move;
}
