.title {
	font-weight: bold;
	font-size: 15pt;
}

.label {
   font-size: 10pt;
   font-weight: bold;
   background-color: #FFFFDB;
}


header{
   width: 1000px;
   height: 50px;
}
section {
   width: 1000px;
   /*background-color: #61D060;*/
   visibility: visible;
   z-index: 0;
   float: right;
   margin: 3px;
}
root { 
    display: block;
}
.photo_form {
   font-weight: bold;
   font-size: 12pt;
   background-color: #FFFFDB;
   border: 1px solid #333333;
   width: 70%;
   margin: 3px;
}

.field{
   margin:{
     bottom: 10px;
   }
}
.photo_list{
  margin: 4px;
  background-color: #FFFFDB;
  float: left;
}
@mixin tagcloud_css($size) {
  @if $size ==1 {
    font-size: 20px;
  }@else if $size == 2 {
    font-size: 15px;
  }@else if $size==3 {
    font-size: 10px;
  }@else if $size==4 {
    font-size: 5px;
  }@else {
    font-size: 20px;
  }
}

.css1 { @include tagcloud_css(1); }
.css2 { @include tagcloud_css(2); } 
.css3 { @include tagcloud_css(3); } 
.css4 { @include tagcloud_css(4); } 

