require "snowstack"

header{
   width: 95%;
   height: 50px;
}
section {
   width: 85%;
   /*background-color: #61D060;*/
   visibility: visible;
   z-index: 0;
   float: left;
   margin: 3px;
}
aside {
  width: 15%;
  visibility: visible;
  margin: 3px;
}
footer {
  width: 95%;
  /*background-color: #61D060;*/
}
h1 {
  font-color: #333fff;
  font-size: 14px;
  font-weight: bold;
}
.login_user_info{
  text-align: right;
  font-weight: bold;
  font-size: 10pt;
  color: #3725A8;
  width: 800px;
}
.login_btn {
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  color: #3725A8;
  width: 800px;
}
.menu_text {
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  color: #3725A8;
}
.list_menu {
  width: 200px;
  text-align: left;
  font-size: 9pt;
  background-color: #FFFFDB;
}

