// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_twitter_list{
  text-align: left;
  font-weight: bold;
  font-size: 10pt;
  color: #333FFF;
  background-color: #FFFddd;
  width: 85%;
}

