<div class="menu_text">
<%= link_to 'アルバム一覧へ', {:action=>'index',:controller=>'albums'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'アルバム作成', {:action=>'new',:controller=>'albums'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to '画像アップロード', {:action=>'new',:controller=>'photos'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to '画像一覧', {:action=>'index',:controller=>'photos'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
</div>
<br>
  
