<div class="my_twitter_list">
  <div class="twitter-friends" options="{
   username:'<%=current_user.name %>'
   ,friends:1
   ,tweet:1
   ,header:'<h2>友人数 _fr_ フォロワー数 _fo_ </h2>'
   ,user_animate:'width'
   ,users:25
   ,loop:1
   ,user_image:48}">
  </div>
</div>
