<style> 

/* container */
div.twitter-friends{ }

/*------- Header -------*/
div.tf-header{
	border:silver 1px solid;
	overflow:hidden;
	margin:0 0 1px 0;
}

div.tf-header img{
	border:silver 1px solid;
	margin:1px;
	float:left;
	width:32px;
	height:32px;
}

div.tf-header h2{
	line-height:32px;
	font-weight:bolder;
	display:block;

	margin:3px;
	padding:0;
	float:left;
	font-size:12px;

}

/*------- Users -------*/
div.tf-users{
	/* fixed height so container will not flicker within transitions */
	height:240px;
	border:silver 1px solid;
	overflow:hidden;
	background-color:#eaeaea;
}

/* user img link*/

div.tf-users a{ 
	display:block;
	float:left;
}

/* user img */
div.tf-users img{ }

/*------- Info Link -------*/
div.tf-info{
	text-align:right;
}
div.tf-info a{
	text-decoration:none;
	font-size:9px;
	font-weight:bolder;
	color:gray;
	font-family:tahoma;
}

/*------- tweet div -------*/
div.tf-tweet{
	/* fixed height so container will not flicker with different length tweets  */
	height:56px;
	overflow:hidden;
}

/* tweet item */
div.tf-tweet div{
	border:silver 1px solid;
	position:relative;
	padding:1px;
	margin:1px 0 0 0;
	overflow:hidden;
	height:50px;
}



/* tweet author avatar */

div.tf-tweet span.tf-avatar{
	display:block;
	width:48px;
	height:48px;
	margin:0 2px 0 2px;
	left:0;
	position:absolute;
	overflow:hidden;
}

/* tweet author name */
div.tf-tweet strong a{
	margin-right:5px;
}

/* tweet body */
div.tf-tweet span.tf-body {
	display:block;
	margin-left:55px;
}

/* tweet content */
div.tf-tweet span.tf-content{

}

/* tweet date and source */
div.tf-tweet span.tf-meta {
	color:#999999;
	display:block;
	font-size:0.764em;
	margin:3px 0 0;
}
div.tf-tweet span.tf-meta a{
	color:#999999;
	text-decoration:none;
}

div.tf-tweet span.tf-meta a:hover{
	text-decoration:underline;
}
/* tweet date link */
div.tf-tweet a.tf-date { }

/* tweet source link */
div.tf-tweet a.tf-source { }

/* tweet links */
div.tf-tweet a.tf-link { }

/* tweet @user links */
div.tf-tweet a.tf-at { }

/* tweet #hashtags links */
div.tf-tweet a.tf-hashtag { }
</style>

<script type="text/javascript" src="http://twitter-friends-widget.googlecode.com/files/jquery.twitter-friends-1.0.min.js?T=1"></script>

<div class="content_div" style="width: 20%;">

<!-- Required HTML -->
<div class="twitter-friends" options="{
	debug:1
	,username:'<%=current_user.name %>'
	,friends:1
	,tweet:1
	,header:'<a href=\'_tp_\' title=\'follow me\'><img src=\'_ti_\'/></a><h2>_fr_ Friends / _fo_ Followers</h2>'
	,loop:1
	,users:50
	,user_animate:'height'
}"></div>
<!-- Required HTML -->
</div>
