<!DOCTYPE html>
<html>
<head>
  <title>MyLife</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-darkness/jquery-ui.css" type="text/css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
モバイル版の対応はしていません。PCかスマートフォンから見て下さい
</body>
</html>
